section.plan#plan
	.container
		.row.justify-content-center
			.col.col-md-6.col-xl-8
				h2.plan__caption Pick The Plan That Works Best For You, And Gain Instant Access!
				.plan__winner(data-aos='fade-right' data-aos-duration='800')
		.row.justify-content-end
			.col-xl-6
				.plan__set.justify-content-center
					.plan__title
						p One Signal Paid for entire monthly fee!
					.plan__package
						ul.plan__list(data-aos='fade-up' data-aos-duration='800')
							li.plan__item(data-aos='fade' data-aos-delay='600' data-aos-offset='50') Unlimited High-Probability Signals
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='650' data-aos-offset='50') 24/7 Access To Expert Trader Community
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='700' data-aos-offset='50') Request Custom Coin Reports
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='750' data-aos-offset='50') Access to ICO Channel Discussions
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='800' data-aos-offset='50') Get Answers To All Your Trading Questions
								i.fas.fa-check
							li.plan__item(data-aos='fade' data-aos-delay='850' data-aos-offset='50') Expert Level Crypto Analysis
								i.fas.fa-check

		.row(data-aos='fade-up' data-aos-duration='800')
			.col-md-4
				.plan__prices.plan__prices_monthly.justify-content-center
					.plan__price_wrap
						p.plan__price #[span.currency $] 97#[span.period / mo]
						h2 Pay Monthly
						p Cancel Any Time
					button.plan__button.button(
						data-vex-toggle='join'
						data-join-link-paypal="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3WEUK2U8EPU34"
						data-join-link-bitcoins="#"
						data-join-description='Monthly membership'
						data-auth='mjUb8a51cHMU92KqNdm3Wz7YGtfOlnfqEG0zDKz76ZeSgPcVlFXtpiMVYBqdZsiByAf/9wlNqIskFam7Wlo3YQ=='
						data-period='monthly'
						data-amount='9700.0'
						data-description='CryptoSig monthly Subscription'
					) Join now!
			.col-md-4
				.plan__prices.plan__prices_yearly
					.plan__price_wrap
						p.plan__price #[span.currency $] 697#[span.period / yr]
						h2 Yearly
						p Save #[span.text_color_pink $450+]
					button.plan__button.button(
						data-vex-toggle='join'
						data-join-link-paypal="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=K7L6RGK7KMGFE"
						data-join-link-bitcoins="#"
						data-join-description='Yearly membership'
						data-auth='23AYLxi9Game4QFlXJ7JaCAxVeJq2PPnpmj2mbM5Q9HTxfTLIp2EfKkDA9X0Ibay1u6wwq0DLIaSEGwuRZidJw=='
						data-period='yearly'
						data-amount='69700.0'
						data-description='CryptoSig yearly Subscription'
					) Join now!
				.plan__popular
					span MOST POPULAR
			.col-md-4
				.plan__prices.plan__prices_lifetime
					.plan__price_wrap
						p.plan__price #[span.currency $] 1,497
						span.period_onetime.text_color_pink one time charge
						h2 Lifetime Access
						p Incredible Value!
					button.plan__button.button(
						data-vex-toggle='join'
						data-join-link-paypal="#"
						data-join-link-bitcoins="#"
						data-join-description='Lifetime membership'
						data-auth='DQ70wgVZhdZ0uL4AoiCBfCbHOYmzGrnmoHSTmcsqmqcFuxgmP3kYA0NavLAKn/6m0BjcqXTBZoeUDAkuPYtEUQ=='
						data-period='lifetime'
						data-amount='149700.0'
						data-description='CryptoSig Lifetime Subscription'
					) Join now!
